@page
@model BookModel
@{
    ViewData["Title"] = "Kompas Books";
}

<div class="text-center">
    <h1 class="display-4">Books</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Last Modify</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in ViewData["Rows"] as List<BookRow>)
                        {
                            <tr>
                                <td>@row.RowNumber</td>
                                <td>
                                    <a asp-page="./BookDetail" asp-route-id="@row.ID">@row.Name</a>
                                </td>
                                <td>@row.Description</td>
                                <td>@row.ModifiedDate </td>
                                <td>
                                    <!-- <a asp-page="./BookDetail" asp-route-id="@row.ID">Detail</a> -->
                                    <a asp-page="./BookAdd" asp-route-id="@row.ID">Edit</a>
                                    <a asp-page="./BookDetail" asp-route-id="@row.ID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <button class="button button1">Add New Book</button>
            </div>

        </div>
    </div>
</div>