@page
@model HomeModel
@{
    ViewData["Title"] = "Stock Opname";
}

<div class="text-center">
    <h1 class="display-4">Stocks</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">Name/ Number</th>
                            <th class="text-center">Date</th>
                            <th class="text-center">Confirmed</th>
                            <th class="text-center">Warehouse</th>
                            <th class="text-center">Description</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in ViewData["Rows"] as List<OpnameRow>)
                        {
                            <tr>
                                <td>@row.RowNumber</td>
                                <td>@row.Name</td>
                                <td>@row.OpnameDate</td>
                                <td>@row.Confirmed</td>
                                <td>@row.WarehouseName</td>
                                <td>@row.Description</td>
                                <td>
                                    <a asp-page="./Detail" asp-route-id="@row.ID">Detail</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>